.grid_cell{
    background-color: black;
    width: 20px;
    height: 20px;
    margin: 1px;
}
#grid_container{
    display: flex;
    flex-direction: column;
}
.grid_row{
    display: flex;
}
.grid_cell:hover{
    background-color: white;
}